body {
    text-align: center;
    font-family: 'PT Serif', serif;
  }
  nav ul li a{
    color: #212121;
  }
  .media-icon {
      font-size: 3vh;
      color: #eeeeee;
  }
  .container .row {
      text-align: center;
  }
  .bounce-on-hover:hover {
      -webkit-animation: bounce 1s;
      animation: bounce 1s;
  }
  .shake-on-hover:hover {
      -webkit-animation: shake 1s;
      animation: shake 1s;
  }
  .swing-on-hover:hover {
      -webkit-animation: swing 1s;
      animation: swing 1s;
  }
  .rubberBand-on-hover:hover {
      -webkit-animation: rubberBand 1s;
      animation: rubberBand 1s;
  }